@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/************************ Navbar ***********************************/


nav{
    display:flex;
    padding:15px 80px  15px 10px; 
    justify-content: space-between ;
    background-color: rgb(255, 255, 255);
    border-bottom: blue;
 
}
.nav-links{
    
    display: flex;
    list-style:none;
    gap: 30px;
    padding-right: 30px ;
    width: 100px;
    justify-content: space-evenly;
    white-space: nowrap;
   
}
.nav-links li a{
    text-decoration: none;
    color: #0c1753;
    justify-content:right ;
    font-family: 'Rakkas', cursive;
    font-size: 15px;
}
nav img{
    width: 100px;
}
/************************ Header ***********************************/

 
 
 main {
     display: flex;
     background: linear-gradient(#777CA1,#BDADFB);
     height:calc(100vh - 100px) ;
     justify-content: center;
     align-items: center;
     color: white;
 }
 main img{
     max-width: 600px;
     height: auto;
 }
 .content-left{
     width: 30%;
 }
 main h2{
     font-size: 50px;
 }
 main p{
     font-size: 14px;
     font-weight: 400px;
 }
 .btn{
    position: absolute;
    background-color: #ffe101;
    color: #00a69c;
    border-radius: 5px;
    font-size: 20px;
    padding: 6px 18px;
    width: 8em;
    height: 2em;
}
.content-right{
    width: 40%;
    justify-content: space-around;
}
    @media only screen and (max-width: 600px){
    
        .main img{
                flex-direction:column;
            }
       
    }

 